/* CSS Grid, thanks to https://grid.layoutit.com/ for the easy to use site */
.grid-container 
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas:
      "red-top"
      "content"
      "red-bottom";
    
    /* Set the grid container to take up the entire viewport since it's the outermost of the web page. Thanks to https://medium.com/@beyondborders/beginner-css-grid-sticky-navigation-scrolling-content-7c4de0a8d1dc for the help */
    height: 100vh;
    width: 100wv;

    /* Setting full page background image, thanks to https://css-tricks.com/perfect-full-page-background-image/ (which is under public domain - https://css-tricks.com/license/) */
    background: url(../backgrounds/trees-and-snow.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /* Full page background image for IE */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../backgrounds/trees-and-snow.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../backgrounds/trees-and-snow.jpg', sizingMethod='scale')";
  }

/* Putting a solid red line at the top of the website. It's sticky so it will always be at the top. */
.red-top 
{ 
    grid-area: red-top;
    background-color: #de272e;
    position: sticky;
}
  
/* Putting a solid red line at the bottom of the website. It's sticky so it will always be at the top. */
.red-bottom 
{ 
    grid-area: red-bottom;
    background-color: #de272e;
    position: sticky;
}
  
.content 
{ 
    grid-area: content; 
    text-align: center;
    color: blue;
    align-items: center;
    justify-content: center;
}

/* Thanks to https://www.bestcssbuttongenerator.com for the quick guidance on getting styles for a button */
.button {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
}
.button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.button:active {
	position:relative;
	top:1px;
}


.earth {
    perspective: 400vmin;
    transform-style: preserve-3d;
    width: min(80vmin, 320px);
    height: min(80vmin, 320px);
    
    /* Thanks to https://stackoverflow.com/a/45599428 for the guidance on getting the earth to be centered */
    margin: auto;
  }
  
  .earth::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: url(../img/earth.jpg) repeat-x;
    background-size: cover;
    border-radius: 50%;
    animation: rotate 90s linear infinite;
    /* box-shadow: -80px -15px 80px 10px rgba(0,0,0,.9) inset, -10px 0px 15px -7px #f0df1759; */
  }
  
  
  @keyframes rotate {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position:1200px 0px;
    }
  }